.title {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 80px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.by {
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.custom-btn {
  width: 200px;
  height: 50px;
  color: #fff;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: red;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  right: 45%;
  top: 80%;
}

.button {
  background: linear-gradient(
    0deg,
    rgba(255, 151, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
  line-height: 42px;
  padding: 0;
  border: none;
  scroll-behavior: smooth;
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.button:before {
  height: 0%;
  width: 2px;
}
.button:after {
  width: 0%;
  height: 2px;
}
.button:hover {
  color: rgba(251, 75, 2, 1);
  background: transparent;
}
.button:hover:before {
  height: 100%;
}
.button:hover:after {
  width: 100%;
}
.button span:before,
.button span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.button span:before {
  width: 2px;
  height: 0%;
}
.button span:after {
  height: 2px;
  width: 0%;
}
.button span:hover:before {
  height: 100%;
}
.button span:hover:after {
  width: 100%;
}

#about-them {
  margin-top: 10%;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-name: slide;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.why-what {
  margin-top: 100px;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-name: slide;
}

.bibliography {
  margin-top: 130px;
}
